<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center p-3">

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!" [translate]="'about'"></a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!" [translate]="'help'"></a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!" [translate]="'privacy'"></a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!" [translate]="'terms'"></a>
        </h6>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->

    <hr>

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-8 col-lg-8 col-xl-8 mx-auto mb-4 text-center">
        <p [translate]="'short.description'"></p>
        <p>
          <i class="fa fa-envelope mr-2"></i>placesaround.contact@gmail.com</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018
    <a href="https://github.com/Ingaaa">IngaP</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->