<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center p-3">

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!">Par vietni</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!">Palīdzība</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!">Konfidencialitāte</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!">Noteikumi</a>
        </h6>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->

    <hr>

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-8 col-lg-8 col-xl-8 mx-auto mb-4 text-center">
        <p>Atrodi vietas sev apkārt - veikalus, bankomātus, kafejnīcas un daudzas citas! Izmanto lietotni uz jebkuras ierīces
          un piekļūsti tai bezsaistē.</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> info@example.com</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/Ingaaa">IngaP</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->