<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center p-3">

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!" i18n="@@about">About</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!" i18n="@@help">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!" i18n="@@privacy">Privacy</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase">
          <a href="#!" i18n="@@terms">Terms</a>
        </h6>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->

    <hr>

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-8 col-lg-8 col-xl-8 mx-auto mb-4 text-center">
        <p i18n="@@shortDescription">Find places around you - shops, ATMs, cafes and many more. Use appliaction on any device and access it while offline.</p>
        <p>
          <i class="fa fa-envelope mr-3"></i>placesaround.contact@gmail.com</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/Ingaaa">IngaP</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->