<ng-template #registrationModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ienākt/Reģistrēties</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ngb-tabset>
      <ngb-tab title="Ienākt">
        <ng-template ngbTabContent>
          <form name="loginForm" class="pt-3 pb-3 pr-2 pl-2" (ngSubmit)="login()">
            <div class="form-group">
              <label for="email">E-pasts</label>
              <input type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" class="form-control" id="email"
                [(ngModel)]="sForm.email" placeholder="name@email.com">
            </div>
            <div class="form-group">
              <label for="password">Parole</label>
              <input type="password" required pattern=".{6,}" name="password" class="form-control" id="password" [(ngModel)]="sForm.password">
            </div>
            <div *ngIf="sError" class="alert alert-danger">{{sError}}</div>
            <button type="submit" class="btn btn-primary">Ieiet</button>
          </form>
          <a href="#" class="pr-2 pl-2">Aizmirsāt paroli?</a>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Reģistrēties">
        <ng-template ngbTabContent>
          <form class="pt-3 pr-2 pl-2" name="registrationForm" (ngSubmit)="register()">
            <div class="form-group">
              <label for="email">E-pasts</label>
              <input type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" class="form-control" id="email"
                [(ngModel)]="rForm.email" placeholder="name@email.com">
            </div>
            <div class="form-group">
              <label for="password">Parole</label>
              <input type="password" required pattern=".{6,}" name="password" class="form-control" id="password" [(ngModel)]="rForm.password">
            </div>
            <div class="form-group">
              <label for="password2">Parole atkārtoti</label>
              <input type="password" required pattern=".{6,}" name="password2" class="form-control" id="password2" [(ngModel)]="rForm.password2">
            </div>
            <div *ngIf="rError" class="alert alert-danger">{{rError}}</div>
            <button type="submit" class="btn btn-primary">Reģistrēties</button>
          </form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Aizvērt</button>
  </div>
</ng-template>