<ng-template #registrationModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ienākt/Reģistrēties</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ngb-tabset>
      <ngb-tab title="Ienākt">
        <ng-template ngbTabContent>
          <form class="pt-5 pb-5" name="loginForm" (ngSubmit)="login()">
            <div class="container">
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="email">E-pasts</label>
                  <input type="email" name="email" class="form-control" id="email" [(ngModel)]="form.email" placeholder="name@email.com">
                </div>
                <div class="form-group col-md-12">
                  <label for="password">Parole</label>
                  <input type="password" name="password" class="form-control" id="password" [(ngModel)]="form.password">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Ieiet</button>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Reģistrēties">
        <ng-template ngbTabContent>
          <form class="pt-5 pb-5" name="registrationForm" (ngSubmit)="register()">
            <div class="container">
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="email">E-pasts</label>
                  <input type="email" name="email" class="form-control" id="email" [(ngModel)]="form.email" placeholder="name@email.com">
                </div>
                <div class="form-group col-md-12">
                  <label for="password">Parole</label>
                  <input type="password" name="password" class="form-control" id="password" [(ngModel)]="form.password">
                </div>
                <div class="form-group col-md-12">
                  <label for="password2">Parole atkārtoti</label>
                  <input type="password" name="password2" class="form-control" id="password2" [(ngModel)]="form.password2">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Reģistrēties</button>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Aizvērt</button>
  </div>
</ng-template>