<div class="container navbar-margin">
  <div class="row" *ngIf="loaded">
    <h1 class="col-md-12">{{place.name}}</h1>
    <div class="col-md-6">{{place.formatted_address}}</div>
    <div class="col-md-6">{{place.international_phone_number}}</div>
    <div class="col-md-6" *ngIf="place.opening_hours != null && place.opening_hours.open_now">Atvērts</div>
    <div class="col-md-6" *ngIf="place.opening_hours != null && !place.opening_hours.open_now">Aizvērts</div>
    <div class="col-md-6">
      <span *ngFor="let rating of ratings">
      <!--<span class="fa fa-star checked" [ngClass]="{'fa-star checked': place.rating>rating, 'fa-star': place.rating<rating, 'fa-star-half-o checked': place.rating>rating && place.rating<rating-1, }"></span>-->
      <span class="fa fa-star checked" *ngIf="place.rating>rating"></span>
      <span class="fa fa-star" *ngIf="place.rating<rating"></span>
      <span class="fa-star-half-o checked" *ngIf="place.rating<rating && place.rating>rating-1"></span>
      </span>
      <!--<span class="fa fa-star checked" [ngClass]="{'display': !loaded, 'hide': loaded}"></span>

      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-half-o checked"></span>
      <span class="fa fa-star-o "></span>-->
    </div>
    <div class="col-md-12">
      <ngb-carousel *ngIf="place.photos" style="text-align:center; background-color:lightgray">
        <ng-template ngbSlide *ngFor="let photo of place.photos" style="text-align:center; background-color:lightgray">
          <img [src]="photo.getUrl({ maxHeight: 400 })" alt="Random first slide">
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div id="placeMap"></div>
</div>