#placeMap {
    height: 500px;
}

.carousel-item {
    background-color: lightgray !important;
    text-align: center !important;
}

i.fas {
    color: var(--purple);
}

i.fas.checked {
    color: var(--yellow);
}

i.fas.half-empty {
    position: relative;
    left: -23px;
}

i.fas.wh {
    color: white;
}

hr {
    border-top: 3px solid var(--purple);
}

.added {
    background-color: var(--light-purple);
}