#placeMap {
    height: 500px;
}

.carousel-item {
    background-color: lightgray !important;
    text-align: center !important;
}

i.fas {
    color: var(--purple);
}

i.fas.checked {
    color: var(--yellow);
}

i.fas.half-empty {
    position: relative;
    left: -23px;
}

i.fas.wh {
    color: white;
}

button.btn.btn-primary.add {
    margin-right: 7px;
}

.added {
    background-color: var(--light-purple);
}

.dividor {
    border-bottom: 2px solid var(--yellow);
    margin: 15px 0px;
}