<main class="container navbar-margin">
  <div class="row" vocab="http://schema.org/" typeof="Place">

    <div *ngIf="!loaded" class="col-md-12 pt-5" style="min-height: 86px;"></div>
    <h2 *ngIf="loaded" class="col-md-12 pt-5" property="name">{{place.name}}</h2>

    <div *ngIf="!loaded" class="col-md-12" style="min-height: 68px;"></div>
    <div *ngIf="loaded" class="col-md-12">
      <div class="dividor col-md-12"></div>
      <button *ngFor="let list of lists" [class.added]="list.added" class="btn btn-primary add" (click)="addToList(list)" placement="bottom"
        ngbTooltip="{{list.title}}" [attr.aria-label]="list.title">
        <i *ngIf="list.key === 'favourites'" class="fas fa-star wh"></i>
        <i *ngIf="list.key === 'toVisit'" class="fas fa-map-marker wh"></i>
        <i *ngIf="list.key === 'visited'" class="fas fa-camera-retro wh"></i>
      </button>
      <!-- <button class="btn btn-primary" (click)="add()">
        Add
      </button> -->
    </div>

    <div *ngIf="!loaded" class="col-md-12" style="min-height: 21px;"></div>
    <div *ngIf="loaded && place.formatted_address" class="col-md-12">
      <i class="fas fa-map-marker"></i>
      <span property="address">{{place.formatted_address}}</span>
    </div>
    <div *ngIf="loaded">
      <div *ngIf="place.international_phone_number" class="col-md-12">
        <i class="fas fa-phone"></i>
        <span property="telephone">{{place.international_phone_number}}</span>
      </div>
      <div *ngIf="place.website" class="col-md-12">
        <i class="fas fa-link"></i>
        <a [href]="place.website" target="_blank ">{{place.website}}</a>
      </div>
      <div class="col-md-12" *ngIf="place.opening_hours && place.opening_hours.open_now">
        <i class="fas fa-clock"></i>
        <span [translate]="'open'"></span>
      </div>
      <div class="col-md-12" *ngIf="place.opening_hours && !place.opening_hours.open_now">
        <i class="fas fa-clock"></i>
        <span [translate]="'closed'"></span>
      </div>

      <div *ngIf="place.rating" class="col-md-12" property="aggregateRating" typeof="AggregateRating">
        <meta property="ratingValue" content="{{place.rating}}">
        <meta property="ratingCount" content="{{place.reviews.length}}">

        <div class="star-ratings">
          <div class="star-ratings-bottom">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="star-ratings-top" [ngStyle]="{'width': (place.rating)*20 + '%'}">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>

      <div *ngIf="place.reviews && place.reviews.length>0" class="col-md-12">
        <div class="dividor col-md-12"></div>
        <h3 [translate]="'reviews'"></h3>
        <div class="card" *ngFor="let review of place.reviews" property="review" typeof="Review">
          <div class="card-body">
            <div class="col-md-12" property="author" typeof="Person">
              <img class="float-left" property="image" typeof="URL" [src]="review.profile_photo_url" height="50px" width="50px" alt="{{review.author_name}}">
              <h5 class="card-title float-left" property="name" typeof="Text">{{review.author_name}}</h5>
            </div>
            <div class="col-md-12" style="clear:both;">
              {{review.relative_time_description}}
            </div>
            <div class="col-md-12 card-text" style="clear:both;" property="reviewBody" typeof="Text">{{review.text}}</div>
          </div>
        </div>

      </div>
      <div *ngIf="place.photos && place.photos.length>0" class="col-md-12">
        <div class="dividor col-md-12"></div>
        <ngb-carousel style="text-align:center; background-color:lightgray">
          <ng-template ngbSlide *ngFor="let photo of place.photos" style="text-align:center; background-color:lightgray">
            <img [src]="photo.getUrl({ maxHeight: 400 })" alt="{{place.name}}">
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="dividor col-md-12"></div>
    </div>
  </div>

  <div id="placeMap"></div>
</main>