<main class="view">
  <form name="searchForm" (ngSubmit)="searchPlaces()">
    <div class="container pt-4 pb-3 pt-md-5 pb-md-5">
      <div class="row">

        <div class="col-md-12">
          <div class="row justify-content-center">

            <div class="input-group main-input col-md-6">
              <input name="query" aria-label="Meklēšanas lauks" class="form-control" id="query" type="text" placeholder="Kafejnīcas Rīgā"
                [(ngModel)]="search.query">
              <div class="input-group-append" (click)="searchPlaces()">
                <i class="fas fa-search input-group-text"></i>
              </div>
            </div>

            <div class="toogle-button-parent col-md-2 pt-3 pt-md-0">
              <button type="button" [ngClass]="{'expanded': !isCollapsed}" class="btn btn-outline-primary toogle-button" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseSearch">
                <i class="fas fa-angle-double-down"></i>
              </button>
            </div>

          </div>
        </div>

        <div class="col-md-12">
          <div class="row pt-3 pt-md-5" id="collapseSearch" [ngbCollapse]="isCollapsed">

            <div class="col-md-12 search-title pt-3 pt-md-4"></div>

            <div class="form-group col-lg-4 col-md-6">
              <label for="location" i18n="@@location">Location</label>
              <div class="input-group">
                <div (click)="getLocation()" class="input-group-prepend location-button">
                  <i class="fas fa-map-marker input-group-text"></i>
                </div>
                <input type="text" name="location" class="form-control" id="location" [(ngModel)]="search.location" placeholder="Riga">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-6">
              <label for="radius" i18n="@@radius">Radius</label>
              <input type="number" name="radius" class="form-control" id="radius" [(ngModel)]="search.radius" min="0" max="50000">
            </div>

            <div class="form-group col-lg-4 col-md-6">
              <label for="type" i18n="@@category">Category</label>
              <input type="text" name="type" class="form-control" id="type" [(ngModel)]="search.type" list="categories">
              <datalist id="categories">
                <option *ngFor="let c of categories">{{c.title}}</option>
              </datalist>
            </div>

            <div class="form-group col-lg-4 col-md-3">
              <label for="minPriceLevel" i18n="@@priceFrom">Price from</label>
              <input type="number" name="minPriceLevel" class="form-control" [(ngModel)]="search.minPriceLevel" id="minPriceLevel" placeholder="1"
                min="1" max="4">
            </div>

            <div class="form-group col-lg-4 col-md-3">
              <label for="maxPriceLevel" i18n="@@to">to</label>
              <input type="number" name="maxPriceLevel" class="form-control" [(ngModel)]="search.maxPriceLevel" id="maxPriceLevel" placeholder="4"
                min="1" max="4">
            </div>

            <div class="form-group col-lg-4 col-md-3">
              <label for="openNow" i18n="@@open">Open</label>
              <select class="form-control" name="openNow" id="openNow" [(ngModel)]="search.openNow">
                <option> </option>
                <option *ngFor="let o of openOptions" [ngValue]="o.value">{{o.title}}</option>
              </select>
            </div>

            <div class="col-md-12">
              <button type="submit" class="btn btn-primary" aria-label="Meklēt">Meklēt</button>
              <button type="reset" class="btn btn-primary" aria-label="Notīrīt">Notīrīt</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div id="map"></div>

  <app-place-list [places]="places"></app-place-list>
  <button *ngIf="getNextPage" type="button" (click)="getNextPage()" class="btn btn-primary show-more mt-4 mb-4 mx-auto" aria-label="Parādīt vairāk">
    <i class="fas fa-angle-double-down"></i>
  </button>
  <app-loader [loading]="loading" [submitted]="submitted" class="row"></app-loader>

</main>