<div style="margin-top:56px;">
  <form class="pt-5 pb-5" name="searchForm" (ngSubmit)="searchPlaces()">
    <div class="container">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="location">Vieta</label>
          <input type="text" name="location" class="form-control" id="location" [(ngModel)]="search.location" placeholder="Riga">
        </div>
        <div class="form-group col-md-6">
          <label for="name">Nosaukums</label>
          <input type="text" name="name" class="form-control" id="name" [(ngModel)]="search.name" placeholder="Opera">
        </div>
        <div class="form-group col-md-6">
          <label for="type">Kategorija</label>
          <select class="form-control" name="type" id="type" [(ngModel)]="search.type">
            <option> </option>
            <option *ngFor="let c of categories" [ngValue]="c.value">{{c.title}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="minPriceLevel">Cenas no</label>
          <input type="number" name="minPriceLevel" class="form-control" [(ngModel)]="search.minPriceLevel" id="minPriceLevel" placeholder="1"
            min="1" max="4">
        </div>
        <div class="form-group col-md-3">
          <label for="maxPriceLevel">līdz</label>
          <input type="number" name="maxPriceLevel" class="form-control" [(ngModel)]="search.maxPriceLevel" id="maxPriceLevel" placeholder="4"
            min="1" max="4">
        </div>
        <div class="form-group col-md-3">
          <label for="openNow">Ir atvērts</label>
          <select class="form-control" name="openNow" id="openNow" [(ngModel)]="search.openNow">
            <option> </option>
            <option *ngFor="let o of openOptions" [ngValue]="o.value">{{o.title}}</option>
          </select>
        </div>

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div id="map"></div>
  <div class="row">
    <div class="col-md-4 p-3 pb-0 text-center place-card" *ngFor="let place of places" routerLink="/vieta/{{place.place_id}}">
      <div class="my-3 py-3">
        <h2 class="display-5">{{place.name}}</h2>
        <p class="lead">{{place.vicinity}}</p>
        <img class="rounded-circle" height="140" width="140" src="../../assets/img/home3.jpg" />
      </div>
    </div>
  </div>

</div>