.navbar {
    background-color: var(--purple);
    padding: 0px;
}

.navbar a, .navbar .navbar-toggler {
    transition: ease-in-out background-color .15s, ease-in-out color .15s;
    color: #fff;
}

.navbar .navbar-toggler {
    border: none;
}

.fas.fa-globe {
    margin-right: 7px;
}

.navbar a.navbar-brand {
    margin: 0px;
}

.navbar a.nav-link.nav-login {
    background-color: var(--pink);
}

.navbar a.nav-link:hover, .navbar a.nav-link:active, .navbar a.nav-link.active {
    background-color: var(--yellow);
    color: var(--purple);
}

nav .navbar-nav .nav-link, nav .navbar-brand, nav .navbar-toggler {
    line-height: 1.5rem;
    padding: 1rem;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: var(--yellow);
}