@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/web-fonts-with-css/css/fontawesome-all.min.css";
:root {
    --pink: #B84799;
    --purple: #49205E;
    --yellow: #D9E254;
    --light-purple: #6E3F73;
}

a, a:visited {
    color: var(--purple);
}

a:hover, a:active {
    color: var(--pink);
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

button, .home-input {
    transition: box-shadow .3s;
}

button.btn.btn-primary {
    background-color: var(--purple) !important;
    border: none !important;
}

button.btn.btn-primary:active, button.btn.btn-primary.active {
    background-color: var(--yellow) !important;
}

button.btn.btn-outline-dark {
    color: var(--purple);
    border-color: var(--purple);
}

button.btn.btn-outline-dark:hover, button.btn.btn-outline-dark:active {
    color: #fff;
    border-color: var(--purple);
    background-color: var(--purple);
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

.view {
    margin-top: 56px;
}