@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/web-fonts-with-css/css/fontawesome-all.min.css";
:root {
    --pink: #BC519E;
    --purple: #49205E;
    --yellow: #D9E254;
    --light-purple: #805BA5;
}

a, a:visited {
    color: var(--purple);
}

a:hover, a:active {
    color: var(--pink);
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

button, .home-input {
    transition: box-shadow .3s;
}

.btn.btn-primary:focus, .btn.btn-primary.focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.btn.btn-primary, .btn.btn-primary:active {
    background-color: var(--purple);
    border: none;
}

.btn.btn-primary:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.btn.btn-outline-dark {
    color: var(--purple);
    border-color: var(--purple);
}

.btn.btn-outline-dark:hover, .btn.btn-outline-dark:active {
    color: #fff;
    border-color: var(--purple);
    background-color: var(--purple);
}

.place-card:nth-of-type(4n+1) {
    background-color: var(--purple);
}

.place-card:nth-of-type(4n+2) {
    background-color: var(--pink);
}

.place-card:nth-of-type(4n+3) {
    background-color: var(--yellow);
    color: var(--purple);
}

.place-card:nth-of-type(4n+4) {
    background-color: var(--light-purple);
}

.place-card .fas.fa-globe {
    font-size: 100px;
}

.place-card {
    color: #fff;
    transition: box-shadow .3s;
    -webkit-animation: appear .6s linear 1;
    /* Safari */
    animation: appear .6s linear 1;
    border: 5px solid white;
}

.place-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    z-index: 999;
    cursor: pointer;
    outline: none;
}

/* Safari */

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

.navbar-margin {
    margin-top: 56px;
}