<div class="placeList row">

  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 place-card" *ngFor="let place of places" routerLink="/vieta/{{place.place_id}}"
    vocab="http://schema.org/" typeof="Place">
    <div class="details-container">
      <app-place-photo [place]="place"></app-place-photo>
      <div class="details p-3">
        <h4 class="display-6" property="name">{{place.name}}</h4>
        <p *ngIf="place.formatted_address" class="details-address" property="address">{{formatAddress(place.formatted_address)}}</p>
      </div>
    </div>
  </div>

</div>