.place-card:nth-of-type(4n+1) {
    background-color: var(--purple);
}

.place-card:nth-of-type(4n+2) {
    background-color: var(--pink);
}

.place-card:nth-of-type(4n+3) {
    background-color: var(--yellow);
    color: var(--purple);
}

.place-card:nth-of-type(4n+4) {
    background-color: var(--light-purple);
}

.place-card {
    color: #fff;
    transition: box-shadow .3s;
    -webkit-animation: appear .6s linear;
    /* Safari */
    animation: appear .6s linear;
    animation-fill-mode: both;
    border: 5px solid white;
    min-height: 180px;
}

.place-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    z-index: 999;
    cursor: pointer;
    outline: none;
}

.placeList {
    min-height: 70px;
    margin-top: -70px;
}

/* Safari */

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}