.home-picture {
    background-image: url("../../assets/img/home590x740.jpg");
    background-repeat: no-repeat;
    background-color: var(--purple);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
}

.input-group.home-input input.form-control:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;
    }
}

.input-group.home-input {
    min-width: 200px;
}

.input-group.home-input input::placeholder {
    color: #fff;
}

.input-group.home-input input, .input-group.home-input i {
    line-height: 2rem;
    font-size: 1rem;
    border: 2px solid white;
    color: white;
    border-radius: 0px;
    background-color: transparent;
}

.input-group.home-input input:focus {
    box-shadow: none;
}

.input-group.home-input i {
    border-left: none;
}

.home-input:hover {
    box-shadow: 0px 0px 5px #fff;
}

.home-input .input-group-append:hover {
    cursor: pointer;
}

.home-input .input-group-append i {
    width: 52px;
}

@media (min-width: 576px) {
    .home-picture {
        background-image: url("../../assets/img/home780x320.jpg");
        height: 320px;
    }
}

@media (min-width: 768px) {
    .home-picture {
        background-image: url("../../assets/img/home1000x400.jpg");
        height: 400px;
    }
    .input-group.home-input input, .input-group.home-input i {
        line-height: 3rem;
        font-size: 1.25rem;
    }
    .home-input .input-group-append i {
        width: 68px;
    }
}

@media (min-width: 992px) {
    .home-picture {
        background-image: url("../../assets/img/home1210x490.jpg");
        height: 490px;
    }
}

@media (min-width: 1200px) {
    .home-picture {
        background-image: url("../../assets/img/home2000x1000.jpg");
        height: 550px;
    }
}

@media (min-width: 2000px) {
    .home-picture {
        background-size: contain;
        height: 600px;
    }
}